<a href="https://colab.research.google.com/github/jee-cmd/DATAMIND/blob/main/jeetishapython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Basics of Python**

Variables

In [3]:
a = "Jeetisha sh@rma"
b = 35
c = 5.32
d = True
print(a)
print(b)
print(c)
print(d)

print(type(a))
print(type(b))
print(type(c))
print(type(d))

Jeetisha sh@rma
35
5.32
True
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

**Operators**

In [4]:
a = 4.55
b = 1.33


print("The value of 4.55+1.33 is ", 4.55+1.33)
print("The value of 4.55-1.33 is ", 4.55-1.33)
print("The value of 4.55*1.33 is ", 4.55*1.33)
print("The value of 4.55/1.33is ", 4.55/1.33)
print("The value of 4.55%1.33 is ", 4.55%1.33)


a = 34
a -= 12
a *= 12
a /= 12
print(a)

# b = (14<=7)
# b = (14>=7)
# b = (14<7)
# b = (14>7)
b = (14==7)
#b = (14!=7)
print(b)


bool1 = True
bool2 = False
print("The value of bool1 and bool2 is", (bool1 and bool2))
print("The value of bool1 or bool2 is", (bool1 or bool2))
print("The value of not bool2 is", (not bool2))

The value of 4.55+1.33 is  5.88
The value of 4.55-1.33 is  3.2199999999999998
The value of 4.55*1.33 is  6.0515
The value of 4.55/1.33is  3.421052631578947
The value of 4.55%1.33 is  0.5599999999999996
22.0
False
The value of bool1 and bool2 is False
The value of bool1 or bool2 is True
The value of not bool2 is True

In [ ]:
a = input("Enter a number: ")
a = float(a)
print(type(a))

In [ ]:
a = 113
b = 15
print("The sum of a and b is", a + b)

In [ ]:
a = 458.89
b = 34.56

print("The remainder when a is divided by b is", a%b)

Slicing & **Indexing**

In [ ]:
name = "python"
print(name[4])
name = "pythonIsGood"
d = name[:0:-1]
print(d)

In [ ]:
story = "We are learning python basics to become data scientist"
print(story.replace("scientist", "analyst"))
print(len(story))
print(story.endswith("python"))

In [ ]:
name = input("Enter your name\n")
print("my name is " + name)

In [ ]:
letter = '''Dear <|NAME|>,
Greetings from ABC coding house. I am happy to tell you about your selection
You are selected!
Have a great day ahead!
Thanks and regards,
Bill
Date: <|DATE|>
'''
name = input("Enter Your Name\n")
date = input("Enter Date\n")
letter = letter.replace("<|NAME|>", name)
letter = letter.replace("<|DATE|>", date)
print(letter)

In [ ]:
a = [1, 2 , 4, 56, 6]
print(a)
print(a[:-2])
a[-1] = 98
print(a)
c = ["nasscom","#",56]
print(c)

In [ ]:
friends = ["Harry", "@", "Rohan", "gauri", "Divya", 45]
print(friends[2:4])
print(friends[:-3])

In [ ]:
l1 = [10, 84, 711, 234, 210, 234]
print(l1)
l1.remove(210)
l1.sort()
print(l1)
l1.append(1.00)
print(l1)

In [ ]:
t = (1, 2, 4, 5)
t1 = (3,)
print(t1)

In [ ]:
t = (1, 2, 4, 5, 4, 1, 2,1 ,1)

print(t.count(2))
# print(t.index(3))

In [ ]:

f1 = input("Enter Fruit Number 1: ")
f2 = input("Enter Fruit Number 2: ")
f3 = input("Enter Fruit Number 3: ")
f4 = input("Enter Fruit Number 4: ")
f5 = input("Enter Fruit Number 5: ")
f6 = input("Enter Fruit Number 6: ")
f7 = input("Enter Fruit Number 7: ")

myFruitList = [f1, f2, f3, f4, f5, f6, f7]
print(myFruitList)

In [ ]:
m1 = int(input("Enter Marks for Student Number 1: "))
m2 = int(input("Enter Marks for Student Number 2: "))
m3 = int(input("Enter Marks for Student Number 3: "))
m4 = int(input("Enter Marks for Student Number 4: "))
m5 = int(input("Enter Marks for Student Number 5: "))
m6 = int(input("Enter Marks for Student Number 6: "))

myList = [m1, m2, m3, m4, m5, m6]
# myList.append(m7) # Removed the line that caused the error
print(myList)

In [ ]:
a = (2,4,5,3,2)
a = list(a) # Convert the tuple to a list
a[0] = 4
print(a)

In [ ]:
a = [2, 4, 56, 7]

print(a[0] + a[1] + a[2] + a[3])
print(sum(a))

In [ ]:
myDict = {
    "Fast": "In a Quick learner",
    "Harry": "A techinican",
    "Marks": [1, 2, 5],
    "anotherdict": {'paradox': 'Player'}
}
print(myDict)
myDict['Marks'] = [45, 78]
print(myDict['Marks'])
print(myDict['anotherdict']['paradox'])

In [ ]:
a = {1, 3, 4, 5, 1}
print(type(a))
print(a)

In [ ]:
b = set()
print(type(b))

## Adding values to an empty set
b.add(4)
b.add(4)
b.add(5)
b.add(5) # Adding a value repeatedly does not changes a set
b.add((4, 5, 6))

## Accessing Elements
# b.add({4:5}) # Cannot add list or dictionary to sets
print(b)

## Length of the Set
print(len(b)) # Prints the length of this set

## Removal of an Item
b.remove(5) # Removes 5 fromt set b
# b.remove(15) # throws an error while trying to remove 15 (which is not present in the set)
print(b)

print(b.pop())
print(b)

In [ ]:
myDict = {
    "Pankha": "Fan",
    "Dabba": "Box",
    "Vastu": "Item"
}
print("Options are ", myDict.keys())
a = input("Enter the Hindi Word\n")
# print("The meaning of your word is:", myDict[a])

# Below line will not throw an error if the key is not present in the dictionary
print("The meaning of your word is:", myDict.get(a))

In [ ]:
a = 8

# 1. if-elif-else ladder in Python
# if(a<3):
#     print("The value of a is greater than 3")
# elif(a>13):
#     print("The value of a is greater than 13")
# elif(a>7):
#     print("The value of a is greater than 7")
# elif(a>17):
#     print("The value of a is greater than 17")
# else:
#     print("The value is not greater than 3 or 7")

# 2. Multiple if statements
if(a<3):
    print("The value of a is greater than 3")

if(a>13):
    print("The value of a is greater than 13")

if(a>7):
    print("The value of a is greater than 7")

if(a>17):
    print("The value of a is greater than 17")
else:
    print("The value is not greater than 3 or 7")

print("Done")

In [ ]:
age = int(input("Enter your age: "))

if age>18:
    print("Yes")
else:
    print("No")

In [ ]:
age = int(input("Enter your age: "))
if(age>34 or age<56):
    print("You can work with us")

else:
    print("You cannot work with us")

In [ ]:
a = [45, 56, 6]
print(435 in a)

In [ ]:
a = 6
if(a==7):
    print("yes")
elif(a>56):
    print("no and yes")
else:
    print("I am optional")

In [ ]:
i = 0
while i<10:
    print("Yes " + str(i))
    i = i + 1

print("Done")

In [ ]:
a = 6
if(a>9):
    print("yes")
elif(a>6):
    print("no and yes")
else:
    print("I am optional")

In [ ]:
fuits = ['Banana', 'Watermelon', 'Grapes', 'Mangoes']
i = 0
while i<len(fruits):
    print(fruits[i])
    i = i+1

In [ ]:
fruits = ['Banana', 'Watermelon', 'Grapes', 'Mangoes']

for item in fruits:
    print(item)

In [ ]:
for i in range(4):
    print(i)
else:
    print("This is inside else of for")

In [ ]:
num = int(input("Enter the number"))
for i in range(1, 6):
    # print(str(num) + " X " + str(i) + "=" + str(i*num))
    print(f"{num}X{i}={num*i}")

In [ ]:
num = int(input("Enter the number: "))
prime = True

for i in range(4, num):
    if(num%i == 0):
        prime = False
        break
if prime:
    print("This number is Prime")
else:
    print("This number is not Prime")